{{>headerAdmin}}

<!-- Adicionar Produtos -->

<div class="containerDiv">
    <a href="/sistema/produtos/">
    <div class="divInfo">
        <h3>{{getTotal products}}</h3>
        <h3>Produtos cadastrados</h3><br>
        <p>Adicionar +</p>
    </div>
    </a>
</div>

